@model IEnumerable<WebComputadoras2.Models.CompraDetalle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compra Detalle</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             Cantidad
            </th>
            <th>
             Precio Unitario
            </th>
            <th>
            Total
            </th>
            <th>
            Usuario Registro
            </th>
            <th>
            Fecha Registro
            </th>
            <th>
             Estado
            </th>
            <th>
             IdCompra
            </th>
            <th>
             IdProducto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @(item.Estado == 1 ? "Activo" : "Inactivo")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
