@model WebComputadoras2.Models.Compra

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Compra</h1>

<h3>Esta seguro de eliminar esta compra?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        Transaccion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaccion)
        </dd>
        <dt class = "col-sm-2">
         Fecha
        </dt>
        <dd class = "col-sm-10">
            @Model.Fecha.ToLongDateString() @Model.Fecha.ToShortTimeString()
        </dd>
        <dt class = "col-sm-2">
         Usuario Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">
         Fecha Registro
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
        </dd>
        <dt class = "col-sm-2">
         Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
         Id Proveedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProveedorNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atras</a>
    </form>
</div>
