@model WebComputadoras2.Models.Producto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <h1>Eliminar Producto</h1>

            <h3>Esta usted seguro de eliminar Producto?</h3>
            <div>

                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Descripción
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        Url Imagen
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UrlImagen)
                    </dd>
                    <dt class="col-sm-2">
                        Precio de Venta
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PrecioVenta)
                    </dd>
                    <dt class="col-sm-2">
                        Stock
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-2">
                        Usuario Registro
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UsuarioRegistro)
                    </dd>
                    <dt class="col-sm-2">
                        Fecha de Registro
                    </dt>
                    <dd class="col-sm-10">
                        @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
                    </dd>
                    <dt class="col-sm-2">
                        Estado
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.Estado == 1 ? "Activo" : "Inactivo")
                    </dd>
                    <dt class="col-sm-2">
                        Categoria
                    </dt>
                    <dd class="col-sm-10">
                        @Model.IdCategoriaNavigation.Nombre
                    </dd>
                    <dt class="col-sm-2">
                        Marca
                    </dt>
                    <dd class="col-sm-10">
                        @Model.IdMarcaNavigation.Nombre
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    <a asp-action="Index">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>
