@model IEnumerable<WebComputadoras2.Models.Producto>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <h1>Productos</h1>

            <p>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Create">
                        <i class="fas fa-plus me-2"></i>Crear Nuevo
                    </a>
                }
            </p>
            @foreach (var item in Model)
            {
                <div class="card" style="width: 23rem;">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.UrlImagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Descripcion</h5>
                            <p class="card-text">Precio: @item.PrecioVenta Bs.</p>
                            <a href="#" class="btn btn-primary">Añadir al carrito</a><br>
                            @if (User.IsInRole("Administrador"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="fas fa-edit me-2"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="fas fa-trash me-2"></i></a>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
